body{
  background-color: gainsboro;
  margin: 0;
  padding: 0;
}

.getMainMenuButton{
  display: none;
}

.pointer{
  display: none;
}

nav{
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lightgray;
  z-index: 100;
}

nav ul{
  display: inline-block;
}

nav li{
  line-height: 60px;
  font-size: 40px;
  list-style-type: none;
  border-bottom: 1px solid gray;
  display: inline;
  margin-right: 30px;
}

nav a{
  color: black;
  text-decoration: none;
}

nav li:hover{
  border-bottom-color: black;
}

.logo_img{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.logo_img img{
  width: 40px;
}

main{
  text-align: center;
  margin-top: 110px;
  font-size: 25px;
}

article{
  width: 90%;
  margin-left: 5%;
}

article img{
  float: left;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 5px;
}

article p{
  text-align: left;
}

main > img{
  display: none;
}

.package_description ul{
  text-align: left;
}

.package_description{
  width: 500px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  display: inline-block;
  float: left;
  vertical-align: top;
  border: 1px solid gray;
  border-radius: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.light{
  background-color: lightgreen;
}

.medium{
  background-color: deepskyblue;
}

.super{
  background-color: lightyellow;
}

.package_description h3{
  display: inline-block;
  
}

table{
  width: 100%;
}

td, th{
  border-bottom: 1px solid gray;
}
th{
  vertical-align: top;
}

td img{
  width: 40px;
}

